/* .debug *,
.debug {
  outline: 1px solid gold;
} */

body {
  background: #92bdb2;
  font-size: 18px;
  color: #4b3105;
}

h2 {
  border-top: 10px #f0c63c solid;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background: #f5d56c;
}
.input_item {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.input_item input {
  background-color: #a4bbb6;
  border-style: none;
  border-bottom: 2px #497179 solid;
  width: 50%;
  height: 30px;
  padding: 5px 10px;
  border-image: none;
  font-size: 18px;
  cursor: pointer;
}
.input_item input:focus {
  outline: none;
}
.new_item {
  display: flex;
  padding: 5px;
  margin-left: 20px;
  align-items: center;
}

.btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  background-color: #f0c63c;
  color: #f6f6f6;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.delete_btn {
  width: 24px;
  height: 24px;
  line-height: 20px;
  background-color: #e6532e;
}

.new_item p {
  margin-left: 10px;
}

.existing_list {
  margin: 20px;
  padding-right: 10px;
}

.items {
  padding: 10px 5px;
  border-bottom: 1px solid #f0c63c;
  display: flex;
  justify-content: space-between;
}
.content,
.content input,
.content label {
  cursor: pointer;
}

.content.done .todo_title {
  text-decoration: line-through;
}

@media screen and (min-width: 600px) {
  body {
    background: none;
  }

  .wrapper {
    width: 400px;
    height: 500px;
    background: #a4bbb6;
    border-radius: 10%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 10px 10px 0 #ccc;
  }

  h2 {
    border-radius: 0px;
  }
  .existing_list {
    max-height: 320px;
    overflow-y: scroll;
  }
  .existing_list::-webkit-scrollbar {
    width: 10px;
    background-color: #a4bbb6;
  }
  .existing_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(93, 105, 105, 0.555);
  }
}
